# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build directories
dist
build

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore temporary files
*.tmp
*.swp